body{
    background-image: url("../galaxiafondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

h1{
    background-color: black;
    color: white;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: violet;
    text-align: left;
}

img{
    border: 10px solid;
    border-radius: 1000px;
    box-shadow: 10px 5px 5px violet;
    
}

ul{
    list-style-type: none;
}
