* {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: url('../IMAGES/fondoacnh.webp');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    margin: auto;
    
}

#menu {
    list-style-type: none;
    text-align: center;
    background-color: #44ad91;
    border: 5px solid #319278;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    
}

li {
    display: inline;
    color: white;
    
}

#menu a {
    color: white;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 150%;
    
}

#menu a:hover {
    color: #c0fded;
    border-bottom: #c0fded;
}

header {
    margin: 50px;
}

#cookie {
    text-align: center;
    color: rgb(109, 200, 216);
    position:fixed;
    bottom: 50%;
    right: 10%;
    left: 10%;
    border:5px solid rgb(22, 118, 134);
    border-style: solid;
    border-radius: 40px;
    background-color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 50px rgb(22, 118, 134);
}
#textCookie {
  text-align: center;
}

.button {
  	background-color: rgb(22, 118, 134);
    border-radius: 50px;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(11, 84, 97);
}

#texto1 {
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 200px;
    width: 50%;
    text-align: justify;
    border: 5px solid #319278;
    background-color: white;
    padding: 20px;
    margin-right: 20px;
    margin-left: 25%;
    margin-right: 25%;

}

#texto2 {
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 200px;
    width: 50%;
    text-align: justify;
    border: 5px solid #319278;
    background-color: white;
    padding: 20px;
    margin-right: 20px;

}

footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: #44ad91;
    border-top: 5px solid #319278;
    text-align: center;
    color: white;
}
