* {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: url('../IMAGES/fondoacnh.webp');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    margin: auto;
    
}

#menu {
    list-style-type: none;
    text-align: center;
    background-color: #44ad91;
    border: 5px solid #319278;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    
}

li {
    display: inline;
    color: white;
    
}

#menu a {
    color: white;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 150%;
    
}

#menu a:hover {
    color: #c0fded;
    border-bottom: #c0fded solid;
}

header {
    margin-left: 200px;
    font-size: 200%;
    color:#319278;
}

#cookie {
    text-align: center;
    color: rgb(109, 200, 216);
    position:fixed;
    bottom: 50%;
    right: 10%;
    left: 10%;
    border:5px solid rgb(22, 118, 134);
    border-style: solid;
    border-radius: 40px;
    background-color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 50px rgb(22, 118, 134);
}
#textCookie {
  text-align: center;
}

.button {
  	background-color: rgb(22, 118, 134);
    border-radius: 50px;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(11, 84, 97);
}

#content {
    
}

#info {
    width: 20px;          
    float: right;
    margin-right: 2%; 
}

#info img {
    float: right;
    width: 50px;
    margin-bottom: 100px;
}

#info img:hover{
    padding-bottom: 50%;
    border-bottom: rgb(11, 84, 97) solid;
}




#texto1 {
    overflow-y: auto;
    height: 200px;
    width: 75%;
    text-align: justify;
    border: 5px solid #319278;
    background-color: white;
    padding: 20px;
    margin-left:10%;
    margin-bottom: 1%;
}

#texto2 {
    overflow-y: auto;
    height: 200px;
    width: 75%;
    text-align: justify;
    border: 5px solid #319278;
    background-color: white;
    padding: 20px;
    margin-left:10%;
    margin-bottom: 1%;
}

#der {
    float: right;
    width: 30%;
    margin-left: 15px;
    height: 100%;
    width: 20%;
    margin-top: 2%;
}

#izq {
    float: left;
    width: 20%;
    margin-right: 15px;
}

footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: #44ad91;
    border-top: 5px solid #319278;
    text-align: center;
    color: white;
}

@media (max-width: 800px) {

    #menu a {
        margin-left: -40px;;
        font-size: 150%;
    }

    header {
        margin-left: 25%;
    }
    
    #info {
        width: 100%;
        position: absolute;
        top: 790px;
        text-align: center;
    }

    #info a {
        display: inline-block;  
        margin-left: 30px;   
        
    }

    #der {
        width: 50%;
        height: 75%;  
    }

    #izq {
        width: 50%;
    }
 
}