.padre {
    border: 5px black solid;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    
}

.hijo{
    border: 2px red solid;
    width: 200px;
    
}


