body {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.tarjeta {
    border: solid black 2px;
    height: 450px;
    width: 450px;
    padding: 25px;
    
}

img {
    height: 150px;
    border-radius: 50%;
}

.usuario {
    background-color: lightgray;
    display: flex;
    gap: 20px;
}

.nombre{
    align-content: center;
    font-size: 20px;
}

.desc {
    margin-top: 50px;
    font-size: 17px;
    margin-bottom: 50px;
}

.cifras {
    display: flex;
    justify-content:space-around;
    padding: 10px;
    border-top: 1px solid lightgray;
    text-align: center;
}

.botones {
    display: flex;
    text-align: center;
    gap: 20px;
}

.seguir {
    background-color: rgb(0, 191, 255);
    color: white;
    border-radius: 5px;
    flex-grow: 2;
}

.seguir:hover {
    background-color: rgb(1, 151, 201);
}

.mensaje { 
    background-color: rgb(236, 236, 236);
    flex-grow: 1;
    border-radius: 5px;
}

.mensaje:hover {
    background-color: rgb(199, 199, 199);
}